body{
    margin-left: 1cm;
}

h1{
    color:darkslateblue;
    font-family: Georgia, serif;
    font-size: 2.5rem
}

h2{
    color:darkslateblue;
    font-family: Georgia, serif;
    font-size: 2rem;
    line-height: 0.5;
}

h3{
    color:darkslateblue;
    font-family: Georgia, serif;
    font-size: 1.5rem;
    line-height: 0.5;
    margin-left:0rem;
}

p {
    color:darkslateblue;
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 0.5;
    margin-left:1rem;
}

div{}
.realtime {
        color:darkslateblue;
        font-family: Georgia, serif;
        font-size: 1.5rem;
        line-height: 1.5;
    }
