body{
    margin-left: 1cm;
}

h1{
    color:darkslateblue;
    font-family: Georgia, serif;
    font-size: 30pt
}

h2{
    color:darkslateblue;
    font-family: sans-serif;
    font-size: 24pt;
    line-height: 0.5;
}

h3{
    color:darkslateblue;
    font-family: sans-serif;
    font-size: 18pt;
    line-height: 0.5;
    margin-left:0rem;
}

p {
    color:darkslateblue;
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 0.5;
    margin-left:20px;
}

div{}
.realtime {
        color:darkslateblue;
        font-family: Georgia, serif;
        font-size: 20pt;
        line-height: 1.5;
    }

select {
        color:darkslateblue;
        background-color: white;
        font-family: sans-serif;
        font-size: 12pt;
        line-height: 0.5;
        height:20pt
    }

button{
    color:darkslateblue;
    background-color: white;
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 0.5;
    height:20pt;
    }

.viewer_area{
    display:flex;
    background-color:azure;
    width: 700px;
}

.viewer_area .item{
    margin:10pt;
}

.viewer_area .item .caption{
    text-align: center;
}

/*
video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
*/